.mainContain {
    display: grid;
    grid-template-columns: 50% 50%;
}

.hangmanContain {
    border: thin solid;
}

.recordContain {
    border: thin solid;
}

#letterContain {
    border: thin solid;
    display: grid;
    place-items: center;
}

.letter {
    padding: 10px;
    text-align: center;
    font-family: monospace;
}

table,
td {
    border: thin solid;
    border-collapse: collapse;
}

.dropDownContain {
    border: thin solid;
    padding: 5px;
}

.hide {
    display: none;
}

.show {
    display: block;
}